<section class="row">
    <div class="col-sm-12">
      <section class="row">
        <div class="col-sm-12 col-md-12">
  <div class="col-sm-12 col-md-12">
      <div class="card mb-12">
        <div class="card-block">
          <h3 class="card-title">Registreren</h3>
        
          
          <form [formGroup]='user' (ngSubmit)='onSubmit()' class="form-horizontal" action="" method="post">
            <fieldset>
             
              <div class="form-group">
                <label class="col-12 control-label" for="username">Gebruikersnaam</label>   
                <div class="col-12">
                  <input id="username" formControlName="username" type="text" placeholder="Gebruikersnaam" class="form-control">
                </div>
                <div class="col-12 text-danger"  *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
                    Je gebruikersnaam moet minstens {{user.get("username").errors?.minlength.requiredLength }} karakters lang zijn.
                  </div>
                  <div class="col-12 text-danger"  *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
                    Gebruikersnaam al in gebruik.
                  </div>
              </div>
              <div formGroupName='passwordGroup'>
              <div class="form-group">
                <label class="col-12 control-label" for="password">Wachtwoord</label>
                
                <div class="col-12 ">
                  <input id="password" formControlName='password' type="password" placeholder="Wachtwoord" class="form-control">
                </div>
                <div class="col-12 text-danger"  *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
                 Wachtwoord te kort. Gebruik minstens {{passwordControl.errors?.passwordTooShort.requiredLength}} karakters. (Momenteel: {{passwordControl.errors?.passwordTooShort.actualLength}} karakters)
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-12 control-label" for="confirmPassword">Herhaal wachtwoord</label>
                  
                  <div class="col-12 ">
                    <input id="confirmPassword" formControlName='confirmPassword' type="password" placeholder="Herhaal wachtwoord" class="form-control">
                  </div>
                  <div class="col-12 text-danger" *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
                      Wachtwoorden komen niet overeen.
                     </div>
                </div>
              </div>
              
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-12 widget-right ">
                  
                  <button type="submit" [disabled]='!user.valid' class="btn btn-primary btn-md float-right">Registreren</button>
                </div>
              </div>
           
            </fieldset>
          </form>
         
        </div>
      </div>
</div>
</div>
      </section>
    </div>
  </section>

